
body {
  background-color: #293E4E;
  font-family: monospace;
  color: #1abc9c;
}

center {
  width: 100%;
}

.links {
  position: relative;
}

.item {
  height: 80pt;
  width: 80%;
  font-size: 6em;
  padding-top: 10%;
  padding-bottom: 2.5%;
  border-bottom: 1px solid #1abc9c;
}

.item a {
  text-decoration: none;
  color: #f1c40f;
  transition: 0.25s;
}

.item a:hover {
  color: #1abc9c;
  transition: 0.25s;
}

.appear {
  opacity: 1;
  margin: 10pt;
  display: inline;
  vertical-align: middle;
  line-height: 80px;
  font-size: 1em;
}
