
body {
  background-color: #293E4E;
  font-family: monospace;
  color: #1abc9c;
}

#contenido {
  white-space: nowrap;
}

center {
  width: 100%;
}

.links {
  position: relative;
  display: inline-block;
  margin-top: 40vh;
}

.item a {
  text-decoration: none;
  color: #f1c40f;
  transition: 0.25s;
}

.item a:hover {
  color: #1abc9c;
  transition: 0.25s;
}

.item {
  height: 40pt;
  font-size: 20pt;
}

.appear {
  opacity: 0;
  margin: 10pt;
  display: inline;
  vertical-align: middle;
  line-height: 40pt;
  font-size: 15pt;
}

#left {
  text-align: right;
  margin-right: 10vw;
}

#right {
  text-align: left;
  margin-left: 10vw;
}
