

body {
    font-family: monospace;
    text-transform: uppercase;
    background-color: #3498db;
    color: white;
    width: 97%;
    height: 100%;
}

a {
    display: inline-block;
    color: #f7ff00;
    text-decoration: none;
}

.container {
    margin-top: 8%;
    width: 100%;
    text-align: center;
}

.btn {
    width: 70%;
    margin-bottom: 5%;
    padding-bottom: 5%;
    font-size: 220%;
    border-bottom: 1px solid #2980b9;
}

.btn i {
    float: left;
}

.btn span {
    text-align: right;
}

#label {
    visibility: hidden;
}

footer {
    text-align: center;
}
