html, body, h1, h2, h3, div {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Droid Sans', Helvetica, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: royalblue;
}

a:hover {
  border-bottom: 1px solid royalblue;
}

button {
  background-color: royalblue;
  color: white;
  border: none;
  font-size: 16px;
  padding: .4em 2em .4em 2em;
  border-radius: 5px;
}

p {
  text-align: justify;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  border-bottom: 1px solid #ccc;
  padding: .4em;
}

ul li:nth-last-child(1) {
  border-bottom: none;
}

.toggle-navigation {
  display: none;
  color: white;
  height: 51px;
  z-index: 12;
  width: 51px;
  line-height: 51px;
  cursor: pointer;
  padding-left: 1em;
  padding-top: .3em;
}

.toggle-navigation.open {
  background-color: #1A1A1A;
}

.navbar {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  height: 51px;
  transition: background-color .3s cubic-bezier(1, 0.01, 0.25, 1);
  animation: fadeInAnimation 1s cubic-bezier(1, 0.01, 0.25, 1) forwards;
  opacity: 0;
  animation-delay: .7s;
}

.navbar > ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.navbar > ul {
  margin: 0;
}

.navbar > ul > li {
  border-bottom: none;
  padding: 0;
}

.navbar > ul > li > a {
  padding: 1em;
  line-height: 50px;
  color: white;
  transition: background-color .3s, color .3s;
}

.navbar > ul > li > a:hover {
  background-color: royalblue;
}

.header-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/header-blur.jpeg);
  height: 100vh;
  animation: headerImageAnimation .8s cubic-bezier(0.15, 0.02, 0.93,-0.12) forwards;
}

.header-title {
  position: absolute;
  z-index: 11;
  top: 40%;
  color: royalblue;
  text-align: center;
  width: 100%;
  font-family: Pacifico;
  text-shadow: 3px 3px 4px #1A1A1A;
  font-size: 60px;
  animation: fadeInAnimation .8s cubic-bezier(0.15, 0.02, 0.93,-0.12) forwards;
}

.header-title.title-in-navbar {
  position: fixed;
  top: 1%;
  left: 4%;
  width: inherit;
  color: white;
  font-size: 22px;
  animation: headerInTitleAnimation .4s ease forwards;
}

section {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2em;
  padding-bottom: 2em;
}

section:nth-child(even) {
  background-color: #1A1A1A;
  color: white;
}

section:nth-child(odd) {
  background-color: whitesmoke;
}

section small {
  color: gray;
  font-size: .6em;
}

.section-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-content > * {
  margin: 1em 2em 1em 2em;
}

.alert {
  background-color: orangered;
  color: white;
  font-size: 12px;
  padding: .4em 1em .4em 1em;
  border-radius: 4px;
}

#quien-soy img {
  width: 250px;
  height: 250px;
}

#estudios ul, #experiencia ul {
  list-style-type: none;
  font-size: 1.5em;
}

.education-date, .experiencia-date {
  float: right;
}

.experiencia-location {
  color: royalblue;
}

.experiencia-location, .experiencia-date {
  font-size: .8em;
}

#sobre-mi .info ul {
  font-size: 1.2em;
}

.form-container {
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

.form-container * {
  margin-bottom: 1em;
}

.form-container *:nth-last-child(1) {
  margin-bottom: 0;
}

.form-container input, .form-container select, .form-container textarea {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: .4em 1em .4em 1em;
}

.movie-genre {
  font-size: .4em;
  font-style: italic;
}

.delete-movie {
  color: orangered;
  cursor: pointer;
  font-size: 2em;
}

footer {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  color: #777;
  padding: 1em;
  font-style: italic;
}

@media only screen and (max-width : 768px) {
  .navbar ul {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #1A1A1A;
  }
  .navbar ul li a {
    display: block;
    width: 100%;
  }
  .toggle-navigation {
    display: block;
  }
  .section-content {
    flex-direction: column;
  }
  .experiencia-date, .education-date {
    display: none;
  }
  section * {
    display: block;
  }
  section ul li * {
    display: initial;
  }
  .section-content > * {
    margin: 1em 0 1em 0;
  }
  .form-container {
    width: 100%;
  }
  .header-title {
    z-index: 1;
  }
  .header-title.title-in-navbar {
    z-index: 11;
    left: 25%;
    width: 50%;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes headerInTitleAnimation {
  0% {
    opacity: 0;
    font-size: 0;
  }
  100% {
    opacity: 1;
    font-size: 22px;
  }
}

@keyframes headerImageAnimation {
  0% {
    background-image: url(../images/header.jpeg);
  }
  100% {
    background-image: url(../images/header-blur.jpeg);
  }
}
